<div style="margin:0px auto;max-width: 600px;text-align: center;">
    <h1>Hello World</h1>
    <p>This is theme switcher example</p>
    <button (click)="toggleDayTheme()">Day Theme</button>
    <button (click)="toggleNightTheme()">Night Theme</button>

    <div style="text-align: left;">
        <p>Use following command to generate service</p>
        <pre>
> ng generate service theme
        </pre>
        <p>Then add use following code</p>
        <pre>{{ "
// src/app/theme.service.ts
import { Injectable, Renderer2, RendererFactory2 } from '@angular/core';

@Injectable({
  providedIn: 'root'
})
export class ThemeService {
  private renderer: Renderer2;
  private currentTheme: 'day-theme' | 'night-theme' = 'day-theme';

  constructor(rendererFactory: RendererFactory2) {
    this.renderer = rendererFactory.createRenderer(null, null);
  }

  setTheme(theme: 'day-theme' | 'night-theme') {
    this.renderer.removeClass(document.body, this.currentTheme);
    this.currentTheme = theme;
    this.renderer.addClass(document.body, theme);
  }

  getTheme(): 'day-theme' | 'night-theme' {
    return this.currentTheme;
  }
}
" }}
        </pre>
        <p>Now use in any component as shown below:</p>
        <pre>{{"
import { Component } from '@angular/core';
import { ThemeService } from '../theme.service';

@Component({
  selector: 'app-home',
  templateUrl: './home.component.html',
  styleUrl: './home.component.scss'
})
export class HomeComponent {
  constructor(private themeService: ThemeService) {}

  toggleDayTheme() {
    this.themeService.setTheme('day-theme');
  }

  toggleNightTheme() {
    this.themeService.setTheme('night-theme');
  }
}
"}}
            </pre>
            <p>HTML:</p>
            <pre>
&lt;button (click)="toggleDayTheme()"&gt;Day Theme&lt;/button&gt;
&lt;button (click)="toggleNightTheme()"&lt;Night Theme&lt;/button&gt;
            </pre>
    </div>
</div>